<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @note_set.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @note_set.description %>
</p>

<p>
  <strong>School:</strong>
  <%= @note_set.school_id %>
</p>

<p>
  <strong>Class:</strong>
  <%= @note_set.class_name%>
</p>

<p>
  <strong>ClassDate:</strong>
  <%= @note_set.class_date %>
</p>

<%= link_to 'Edit', edit_note_set_path(@note_set) %> |
<%= link_to 'Back', note_sets_path %>
